//STYLE OVERRIDES
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
	
	border-radius: $global-radius;
	background: #ebf0f2;
border: 2px solid #ebf0f2;
border-top: 2px solid #dbe3e7;
	margin-bottom: 12px;//&*default
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
	
	background: #fff;//&*focus
}

div.error{
	*{ //hack: could be troublesome
		border-color: $alert-color;
	}
	*:focus{
		border-color: $alert-color;
	}
}
	div.error{
	input{
		background: lighten($alert-color, 40%);
		border: 2px solid lighten($alert-color, 40%);
		border-top: 2px solid $alert-color;
	}
	input:focus{
		background: white;
		border-color: 2px solid $alert-color;
	}
}
small.error{
	padding: 3px 0px 3px -30px;
	margin-bottom: 1rem;
	font-size: 0.75rem;
	font-weight: normal;
	border-radius: $global-radius;
	font-weight: 200;

	border: 1px solid $alert-color, 6%;
	border-bottom: 4px solid darken($alert-color, 6%);
	box-shadow: 0 -1px 0 rgba(255,255,255,0.05) inset;
    -moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.05) inset;
    -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.05) inset;
}
small.error:before{
	position: relative;
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid $alert-color;
	left: 2px;
	top: -19px;
	margin-right:-14px;
	content: '';
}//&*error


//take away asterix
div.required{
	abbr{
		display: none;
	}
}